body{
  font-family:'Roboto', sans-serif;
  background-color:#f9f9f9;
}

.navbar{
  font-family:'Roboto Slab',serif;
  background-color:#2195f2;
  color:#ffffff;
  margin-top:1%;
  padding:1px;
}

.navbar-brand>img{
  height:200%;
}

.header-title{
  padding:0% 1%;
  font-weight:bold;
  font-size:1.75em;
  line-height:2.75em;
  display:flex;
}

.subheader{
  font-size:1em;
  display:flex;
  float:left;
}

.navbar-nav>li>a{
  padding-top:0px;
  padding-bottom:0px;
}

.navbar-right{
  vertical-align: middle !important;
  float:right;
  display:block;
  padding: 0% 0%;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
  background-color:#2195f2;
}

.glyphicon-menu-hamburger{
  font-size:1.75em;
  float:right;
  display:flex;
  padding-right:1%;
  vertical-align: middle;
  color: #ffffff;
  line-height: 2.75em;
  min-height: 2.75em;
  margin:0;
}

.settings{
  font-size:1.25em;
  font-family:Roboto;
}

.settings:hover{
  background-color:#2195f2 !important;
  border-color:#2195f2 !important;
  color:#ffffff !important;
}

.description{
margin-left:11%;
font-size:10.5pt;
font-weight:bold;
}

.subdescription{
margin-left:15%;
margin-right:15%;
font-size:8.5pt;
font-style:italic;
}

.btn-group{
  margin-left:auto;
  margin-right:auto;
  width:75%;
}

.btn{
  border-color:#ffffff;
  background-color:#00bfa5;
  color:#ffffff;
}

.btn-default:hover{
  background-color:#008e76;
  color:#ffffff;
  border-color:#008e76;
}

.btn-default:active{
  background-color:#008e76 !important;
  color:#ffffff;
  font-weight:bold !important;
  border-color:#008e76;
  box-shadow: inset 0 0 10px #2F4F4F;
}

.btn-default.active, .btn-default:active, .open>.dropdown-toggle.btn-default{
  background-color:#008e76 !important;
  color:#ffffff !important;
  font-weight:bold !important;
  box-shadow: inset 0 0 10px #2F4F4F;
}

.btn-default:focus{
  background-color:#008e76;
  color:#ffffff;
  font-weight:bold;
  box-shadow: inset 0 0 10px #2F4F4F;
}

.input-group:not(.content-group){
  margin:auto;
  width:50%;
}

.content-group{
  width:300px !important;
  margin: 4 auto;
  margin-top:0;
  float:none;
}

.options:hover{
  background-color:#00bfa5 !important;
  border-color:#00bfa5 !important;
  color:#ffffff !important;
}

.dropdown-toggle{
  border-color:#00bfa5;
  border-width:thin;
  width:100px;
}

.protocol-text{
  color:#ffffff;
}

.protocol-text:hover{
  color:#ffffff;
  text-decoration: none;
}

.protocol-options:hover
{
  background-color:#00bfa5 !important;
  border-color:#00bfa5 !important;
  color:#ffffff !important;
}


.well{
  margin:0% 25%;
  background-color:#ffffff;
  word-wrap:break-word;
}

.input-group-addon{
  border-color:#00bfa5;
  background-color:#00bfa5;
  color:#ffffff;
  width:100px !important;
}

.copy{
  background-color:#2195f2;
  color:#ffffff;
  font-size:1em !important;
}

.copy:hover{
  background-color:#0069c0;
  border-color:#0069c0;
}

.copy.active, .copy:active, .copy:visited, .copy:focus, .open>.dropdown-toggle.copy{
  background-color:#0069c0 !important;
  color:#ffffff !important;
  font-weight:bold !important;
}

.content-form{
  width:200px !important;
}

.focus{
  background-color:#00bfa5 !important;
  color:#ffffff !important;
}

.content-rows{
  float:none;
  margin: 0 auto;
  text-align: center;
}

.link{
  color:#0069c0;
  text-align:center !important;
}

.account-info{
  width:30px !important;
  background-color: #f9f9f9;
  border-color:#ccc;
  color: #515151;
}


.omb_login .omb_loginOr .omb_hrOr {
	background-color: #cdcdcd;
	height: 1px;
	margin-top: 0px !important;
	margin-bottom: 0px !important;
  text-align: center;
}

.omb_loginOr .omb_spanOr {
	display: block;
	position: absolute;
	left: 50%;
	top: -0.6em;
	margin-left: -1.5em;
	background-color: white;
	width: 3em;
	text-align: center;
}


.authTitle{
  font-size:1.5em;
  text-align:center;
}

#facebook{
  background-color:#4267b2;
  color:#ffffff;
  border-color:#ffffff;
}

#facebook:hover, #facebook:active, #facebook:visited, #facebook:focus {
  background-color:#4267b2 !important;
  border-color:#4267b2 !important;
  color:#ffffff !important;
}

#google{
  background-color:#EA4335;
  color:#ffffff;
  border-color:#ffffff;
}

#google:hover, #google:active, #google:visited, #google:focus {
  background-color:#EA4335 !important;
  border-color:#EA4335 !important;
  color:#ffffff !important;
}

.btn-block{
  width:200px;
  display:inline-block;
}

.forgot-password{
  text-align: center;
  font-size: .6em;
}

.remember{
  display: inline-block;
  text-align: center;
  font-size: 1em;
}


.modal-title{
  font-family:'Roboto Slab',serif;
  font-weight: bold;
}


.account-create{
  width:93% !important;
  margin-right:3px;
}

.validate{
  margin-top:10px;

}

.fa-check{
  color:#00bfa5;
}

.fa-times{
  color:#d32f2f;
}

.center-message{
  text-align:center;
}
